*{
    color: #55C57A;
    color: #7ED56F;
    color: #28B485;
    color: #FFB900;
    color: #FF7730;
    color: #2998FF;
    color: #5643FA;
    color: #F7F7F7;
    color: #999999;
    color: #333333;




}